 <div> 
 <h3 class="comment-label"><%= link_to post.label, "http://#{post.url}", :target =>'_blank'%></h3>
 <h6 class="post-date">Written by <%= post.user.username %> <%= time_ago_in_words(post.created_at) %> ago</h6>
 <a class="comment-body"><%= link_to_unless_current(" View Comments", posts_show_path(post)) %></>
 </div>
